.App {
  text-align: center;
  margin-top: 30px;
}

.App button {
  background-color: transparent;
  color: #05466A;
  margin: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}

h2 {
  color: white;
}

.button-container {
  margin-bottom: 20px;
}

.gif-container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}

.gif-container img {
  width: 100%;
  height: auto;
}

.search-container {
  margin: 20px 0;
}

.search-container input[type="text"] {
  padding: 5px;
  width: 400px;
}

.search-container button {
  padding: 5px 10px;
}